/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
 .dot-pulse {
    display: flex;
    position: relative;
    margin-right: 2rem;
    margin-left: 2rem;
    left: -9999px;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background-color: #aaa;
    color: #aaa;
    box-shadow: 9999px 0 0 -5px #aaa;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
  }
  
  .dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background-color: #aaa;
    color: #aaa;
  }
  
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #aaa;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
  }
  
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #aaa;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
  }
  
  @keyframes dotPulseBefore {
    0% {
      box-shadow: 9984px 0 0 -5px #aaa;
    }
    30% {
      box-shadow: 9984px 0 0 2px #aaa;
    }
    60%,
    100% {
      box-shadow: 9984px 0 0 -5px #aaa;
    }
  }
  
  @keyframes dotPulse {
    0% {
      box-shadow: 9999px 0 0 -5px #aaa;
    }
    30% {
      box-shadow: 9999px 0 0 2px #aaa;
    }
    60%,
    100% {
      box-shadow: 9999px 0 0 -5px #aaa;
    }
  }
  
  @keyframes dotPulseAfter {
    0% {
      box-shadow: 10014px 0 0 -5px #aaa;
    }
    30% {
      box-shadow: 10014px 0 0 2px #aaa;
    }
    60%,
    100% {
      box-shadow: 10014px 0 0 -5px #aaa;
    }
  }